name: Hello World! 

on:
  push:
    branches:
      - main

jobs:
  hello_world_job:
    runs-on: ubuntu-latest
    steps:
      - name: Say hello
        run: |
          echo "hello world!"
      - name: Print date
        run: |
          date
      - name: run directory
        run: 
          ls -l