name: Deployment Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches: [main]
    types: [opened, synchronize]

jobs:
  simple_deployment_pipeline:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
      - name: Install dependencies
        run: npm install
      - name: Check style 
        run: npm run eslint
      - name: unit testing 
        run: npm run test

  deploy:
    name: Deploy app
    runs-on: ubuntu-latest
    concurrency: deploy-group   # optional: ensure only one action runs at a time
    steps:
      - uses: actions/checkout@v4
      - run: npm ci
      - run: npm run build
      - uses: superfly/flyctl-actions/setup-flyctl@master

      - name: Fly deploy
        if: ${{ github.event_name == 'push' }}
        run: flyctl deploy --remote-only
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
  
  tag_release:
    needs: [deploy]
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'push' && !contains(join(github.event.commits.*.message, ' '), '#skip') }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: '0'
      - name: bump version and push tag
        uses: anothrNick/github-tag-action@8c8163ef62cf9c4677c8e800f36270af27930f42
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

        
  e2e_test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-node@v5
      with:
        node-version: lts/*
    - name: Install dependencies
      run: npm ci
    - name: Install Playwright Browsers
      run: npx playwright install --with-deps
    - name: Run Playwright tests
      run: npx playwright test --project=chromium
    - uses: actions/upload-artifact@v4
      if: ${{ !cancelled() }}
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 30
  
  discord_notify:
    needs: [simple_deployment_pipeline, deploy, e2e_test]
    runs-on: ubuntu-latest
    if: always()
    steps:
      - name: Notify discord
        uses: rjstone/discord-webhook-notify@v2
        with:
          severity: info
          username: Github Actions
          description: |
            Deployment Pipeline Status: 
            Simple pipeline: ${{ needs.simple_deployment_pipeline.result}}
            Deployment: ${{needs.deploy.result}}
            E2E tests: ${{needs.e2e_test.result}}
          details: 'Commit ${{github.event.head_commit.message}}'
          webhookUrl: ${{secrets.DISCORD_WEBHOOK}}



      